@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-sans text-[#FFFFFF] dark:text-black h-screen sm:bg-[url(/assets/bg-desktop.jpeg)] bg-[url(/assets/bg-mobile.jpeg)] bg-no-repeat bg-top bg-cover
  dark:bg-[url(/assets/bg-mobile-light.jpeg)]
  dark:sm:bg-[url(/assets/bg-desktop-light.jpeg)];
}

li a{
  @apply flex items-center justify-center py-4 gap-1
       bg-[#ffffff1a] border border-[#ffffff80]
       rounded-lg backdrop-blur-sm
       font-medium hover:bg-[#ffffff0d] hover:border-[1.5px] hover:border-white
       transition-colors dark:bg-[#ffffff80] dark:hover:border-[1.5px] dark:hover:border-black
       dark:hover:bg-[#00000005];
}